@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --font-sans: 'Inter', sans-serif;
  --font-outfit: 'Outfit', sans-serif;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: var(--color-zinc-950);
  color: white;
  font-family: 'Inter', sans-serif;
}

